body{
	background-image: url(img/bg.jpg);
}

header{
	width: 80%;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}

#logo{
	width: 600px;
}

.row{
	background-color: #F0FFFF;
	margin: auto;
	width: 80%;
	text-align: center;
}

#selectPlayer{
	text-align: center;
	margin-top:50px;
	width: 80%;
	margin: 0 auto;
}

#playerList{
	text-align: center;
	margin: 0 auto;
}

.characterImage{
	height: 100px;
	width: 100px;
	margin: 20px;
	border: solid #000000 2px;
	border-radius: 5px;
}

.characterBin{
	display: inline-block;
	text-align: center;
}


p{
	position: relative;
}

#enemies{
	text-align: center;
	margin: 0 auto;
}